body {
  background: linear-gradient(#cdfff4, #79c5ff);
  margin-top: 20px;
  margin-left: 36px;
  margin-right: 36px;
  margin-bottom: 96px; 
  padding: 96px;
  padding-bottom:96px;
  background-repeat: no-repeat;
  color: #0a1520;
  min-height: screen;
  font-family: 'Poppins', sans-serif;
}

.main, .title {
  display: flex;
  flex-direction: row;
}

.title img {
  height: 5rem;
  width: 5rem;
  padding-right: 30px;
}

.title img:hover {
  transform: scale(1.05);
}

.main div {
  margin: 0px 10px 0px 10px;
}

a {
  text-decoration-line: none;
}

img {
  max-height: 300px;
}

li {
  color: black;
}

li:hover {
    transform: scale(1.05);
    background-color: rgb(228, 254, 255);
}